body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
  
header,
footer {
  grid-column: 1 / span 5;
}
  
main {
  grid-column: span 4;
}

aside {
  grid-column: 1 / span 1;
}
  
@media (max-width: 800px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }  
}

/* *** */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;

  .logo img {
    width: 300px;
  }

  .logo a {
    display: inline-block;
  }
}

aside {
  padding-left: 10px;
  
}

@media (max-width: 800px) {
  aside {
    padding-right: 10px;
  }
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.callUsToday {
  text-align: right;
  .callUsToday__slogan {
    color: #FF6701;
    font-size: 24px;
    font-weight: 600;
    padding-right: 15px;
  }

  .callUsToday__tel { 
    font-size: 20px;
    font-weight: 600;
    
    & a {
      display: inline-block;
      margin-right: 0;
      padding-right: 15px;
      text-decoration: none;
      color: #0082D7;
    }
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}

nav.asideNav {
  margin-bottom: 20px;

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin-bottom: 15px;
  }

  & a {
    background-color: #B5CC57;
    color: #4A4A4A;

    font-size: 18px;
    font-weight: 600;
  }
}

a.blueBox {
  display: block;
  margin-bottom: 20px;
  background-color: #0082D7;
  background-image: 
    radial-gradient(
      farthest-corner at 50% 15px, 
      #8CCAFF, 
      #0077C0
    );
  
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 15px 5px 10px 5px;

  & h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
  }

  & span {
    color: #E6E67B;
    font-weight: 500;
    
  }
}

@media (max-width: 800px) {
  a.blueBox {
    min-width: 220px;
    max-width: 225px;
  }
}

.greenBox {
  border: #B5CC57 solid 2px;
  border-radius: 5px;
  margin-bottom: 20px;

  & h3 {
    color: #FF6701;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    background-color: #E8F2D9;
    margin: 0;
    padding: 10px;
  }

  & ul {
    padding-left: 30px;
    padding-right: 10px;
  }

  & li {
    margin-bottom: 10px;
    color: #4A5F22;
  }
}

.insuranceCalc {
  border: #B5CC57 solid 2px;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  max-width: 200px;

  & h3 {
    color: #FF6701;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    background-color: #E8F2D9;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
  }

  & ul {
    padding-left: 30px;
    padding-right: 10px;
  }

  & li {
    margin-bottom: 10px;
    color: #4A5F22;
  }

  & tr, td {
    vertical-align: top;
    font-size: 14px;
  }

  & .insuranceCalcButton {
    text-align: center;
  }

}

.insuranceFinal {

  & input[type="text"],
  & input[type="tel"],
  & input[type="email"],
  & select,
  & textarea {
    margin-left: 10px;
    width: 80%;
    margin-bottom: 5px;
  }

  & textarea {
    margin-bottom: 0;
  }
}

.button-65 {
  margin-top: 10px;

  appearance: none;
  backface-visibility: hidden;
  background-color: #0082D7;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: 0.9;
  outline: none;
  overflow: hidden;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}
.button-65:hover:after {
  opacity: .5;
}
.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}
.button-65:active:after {
  opacity: 1;
}
@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

nav.mainNav {
  & a {
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF6701;
    background-image: 
      radial-gradient(
        farthest-corner at 50% 100px, 
        #FFC191, 
        #FF6701
      );
    padding: 15px;
    border-radius: 5px;
  }
}

.photo {
  & img {
    width: 100%;
  }
}

h2.pageTitle {
  color: #0077C0;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;

  & .pixel-arrow-style {
    position: relative;
    right: 12px;
    top: 4px;
    min-height: 30px;
  }

  & .pixel-arrow-style:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    box-shadow: 3px 3px 0 0 #0077C0, 6px 6px 0 0 #0077C0, 3px 9px 0 0 #0077C0;
  }
}

.content {
  & ul {
    list-style: none;
  }

  & ul li::before {
    content: "\2022";
    color: #B5CC57;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  & .orangeTitle {
    color: #FF6701;
  }

  & .nomargin {
    margin: 0;
  }

  & a {
    color: #000000;
  }
}


nav.footerNav {
  background-color: #197ED3;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  
  & a {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 10px;
  }

  & a:before {
    content:" ";
    display: block;
    height: 2px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: -3px;
    background: #FFFFFF;
    transform: rotate(90deg);
  }

  & a:nth-child(1):before {
    display: none;
  }
}

.copyright {
  color: #818181;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  & a {
    color: #818181;
  }
}
  
/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}
  
header,
main,
aside,
footer {
  /* background: #eaeaea; */
  /* display: flex;
  align-items: center;
  justify-content: start; */
}

header,
footer {
  min-height: 10vw;
}